.page-header__icon {
  display: block;
}

.thumb {
  display: flex;
  justify-content: space-between;
}

.logo-end {
  color: #939393;
}

.logo-start.wow {
  font-weight: 400;
font-size: 24px;
line-height: 1.5;
  color: $secondColor;
}

.header__button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}