.container{
    width: 100vw;
   padding-left: 15px;
   padding-right: 15px;
   margin:0 auto;
   text-align: center;
   @media screen and (min-width:575px) and (max-width:766px){
     padding-left: 30px;
   padding-right: 30px;
   }
   @media screen and (min-width:767px){
     padding-left: 38px;
   padding-right: 38px;
   width: 767px;
   }
}
